.DS_Store

# Terraform
.terraform
terraform.tfstate*
.terraform.lock.hcl

*.tfvars
.idea

# Ignore Helm chart package files
*.tgz

# Ignore Helm dependency build artifacts
charts/secoda/charts
Chart.lock

# Ignore Helm release history
.release/