datastores:
  secoda:
    authorized_domains: "secoda.co,secoda.com" # Replace with your email domains
env:
- name: IS_MANAGED
  value: "true"
nodeSelectorApi: {}
# If you are require a service account with linked roles, set create to false and
# the name to your preferred service account
serviceAccount:
  annotations: {}
  create: true
  name: secoda
  namespace: secoda
# These are the minimum resources to run Secoda. Larger, more active environment
# will need more api resources
services:
  api:
    image:
      name: on-premise-api
      registry: secoda
    resources:
      limits:
        cpu: 2048m
        memory: 20480Mi
      requests:
        cpu: 2048m
        memory: 20480Mi
  frontend:
    image:
      name: on-premise-frontend
      registry: secoda
    resources:
      limits:
        cpu: 512m
        memory: 2048Mi
      requests:
        cpu: 512m
        memory: 2048Mi
# Set the version tag here if you need to pin to a Secoda version instead
# of tracking "latest"
global:
  image:
    tag: "latest"
